*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
}

.parent {
    border: 4px solid black;
    height: 100vh;
    width: 100vw;
    background-color: pink;

    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 100px 300px 400px;
    gap: 10px;
    text-align: center;
}

.box1 {
    border: 2px solid white;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: orange;
}
.box2 {
    border: 2px solid white;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: orangered;
}
.box3 {
    border: 2px solid white;
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: red;
}
.box4 {
    border: 2px solid white;
    grid-column-start: 3;
    grid-column-end: 5;
   background-color: purple;
}
.box5 { 
    border: 2px solid white;
   background-color: purple;
}
.box6 {
    border: 2px solid white;
    grid-column-start: 1;
    grid-column-end: 6;
   background-color: orange;
}